
# Ambientes Virtuais
venv/
.venv/
env/

# Python
__pycache__/
*.pyc

# Variáveis de Ambiente (SEGURANÇA CRÍTICA)
.env
*.env

# Logs e Bancos Locais (Opcional, mas recomendado não versionar dados reais)
*.db
*.sqlite
logs.json

# IDEs
.vscode/
.idea/
